
<html>
  <head>

  </head>
  <body>
  <script src="https://unpkg.com/vue"></script>

  haha fooled you

  there's no frontend here yet



  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

    <script> var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: 'Learn JavaScript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome' }
        ]
      }
    })
    </script>

  </body>
</html>
